import React from 'react'
import './{{ componentName }}.scss'

interface I{{ toUpperFirstName }}State {}

interface I{{ toUpperFirstName }}}Props {
}

export default class {{ toUpperFirstName }} extends React.Component<I{{ toUpperFirstName }}Props, I{{ toUpperFirstName }}State> {
  render() {
    return (
      <div></div>
    )
  }
}
